[submodule "lib/vislib"]
	path = lib/vislib
	url = https://github.com/allivka/vislib.git
[submodule "lib/vislib_mpu6050"]
	path = lib/vislib_mpu6050
	url = https://github.com/allivka/vislib_mpu6050.git
[submodule "lib/vislib_vex5"]
	path = lib/vislib_vex5
	url = https://github.com/allivka/vislib_vex5.git
[submodule "lib/vislib_arduino"]
	path = lib/vislib_arduino
	url = https://github.com/allivka/vislib_arduino.git
[submodule "lib/vislib_robo"]
	path = lib/vislib_robo
	url = https://github.com/allivka/vislib_robo.git
